body {
    background: linear-gradient(to top, #7c828a, #d8dfe6);
    background-attachment: fixed;
}

.log-in-div {
    background-color: white;
    border-radius: 20px;
}

.center-div {
    -webkit-box-shadow: 0px 0px 52px 18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 52px 18px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 52px 18px rgba(0,0,0,0.75);
}

.register-div {
    background-color: #e0fffb;
    border-radius: 20px;
}

.forgot-password-div {
    background-color: #fff4e0;
    border-radius: 20px;
}

.reset-password-div {
    background-color: #ffe8e0;
    border-radius: 20px;
}

.message-div {
    background-color: #ffebb3;
    border-radius: 40px;
}

.mt-5 {
    margin-top: 9rem !important;
}

span.field-icon {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 0.5rem;
    top: 2.8rem;
    margin-right: 20px;
    z-index: 2;
}