/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #8c9196;
    border-color: #7db610;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    z-index: 1;
    color: #f3f3f3 !important;
    background-color: rgba(140, 145, 150, 0.80)
}

.footer {
    background-color: #8c9196;
    color: #f3f3f3 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#page-wrapper {
    padding: 15px 15px 15px 15px;
    flex: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* PANELS ***********************************/
.panel {
    margin-bottom: 15px;
    background-color: rgb(252, 237, 216);
    border: 0;
    border-radius: 10px;
    width: 100%;
}

.panel-body {
    padding: 20px;
}

.panel-heading {
    color: #333;
    border: 0;
    padding: 20px;
    background-color: transparent;
}

    .panel-heading h3 {
        color: #555;
        border: 0;
        padding: 0;
        margin: 0;
        display: inline-block;
        line-height: 30px;
        font-size: 21px;
    }

    .panel-heading .lstick {
        width: 2px;
        background: #555;
        height: 40px;
        margin-left: -20px;
        margin-right: 18px;
        display: inline-block;
        vertical-align: middle;
    }

/* TABLES ***********************************/

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table > tbody > tr > td, table > tbody > tr > th {
    background: rgb(252, 237, 216);
}

table#dataTablesLink > tbody > tr > td, table#dataTablesLink > tbody > tr > th {
    background: rgb(252, 237, 216);
}

table {
    padding: 2px;
}

    table thead {
        border-top: 1px solid rgb(252, 237, 216);
    }

    table > thead > tr > th {
        border-bottom: 1px solid rgb(252, 237, 216);
    }

    table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle !important;
    }

    table tfoot > tr {
        background-color: rgb(252, 237, 216);
    }

/* BUTTONS ***********************************/
.btn-primary.btn-outline {
    color: rgb(252, 237, 216);
    background-color: #0366d6;
    border-color: #0366d6;
}

/*SOW IS NOT EDIT***************/
.sow-is-not-edit {
    background: rgba(170, 241, 255, 0.3);
}

/*DETAILS SOW***************/

a.style-link{
    text-decoration: none;
}

a:hover.link-hover {
    text-decoration: none;
    color:white;
}

span.field-icon {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 0.5rem;
    top: 2.8rem;
    margin-right: 20px;
    z-index: 2;
}