<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alocha </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/sideMenu/side-menu.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link href="~/lib/Alertify/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand d-inline-block align-top" href="/Home/Index">
                <h4><strong class="font-italic text-light"><span class="fa fa-calendar-check-o text-light mr-2"></span>ALOCHA</strong></h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="text-light mr-2 border-danger">Administrator</li>
                    }
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="UpcomingTask"><span class="fa fa-thumb-tack text-light mr-2"></span>Zadania</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Sow" asp-action="Index"><span class="fa fa-list-alt text-light mr-2"></span>Lochy</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Sow" asp-action="Vaccinate"><span class="fa fa-user-md text-light mr-2"></span>Szczepienia</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="ManagementAdmin" asp-action="Index"><span class="fa fa-bar-chart text-light mr-2"></span>Panel Administratora</a></li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4"><h6 class="text-dark"><strong>@User.Identity.Name</strong></h6></li>
                </ul>
                <span class="btn btn-outline-danger" style="font-size:20px; cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
        </nav>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @if (User.Identity.IsAuthenticated)
        {

            <a class="text-center" href="/User/Index"><span class="fa fa-cog text-secondary mr-2"></span>Ustawienia</a>
            <a class="text-center" href="/Account/LogOut"><span class="fa fa-power-off text-danger mr-2"></span>Wyloguj</a>
        }
    </div>

    <div id="page-wrapper">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Alocha-web
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sideMenu/side-menu.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/datatables-option.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="~/js/create-sow.js"></script>
    <script src="~/lib/Alertify/js/alertify.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
